**1-Write a Python program to calculate the length of a string using 2 ways

In [7]:
string = "Mina"
len(string)

4

In [8]:
string = "Mina"
counter =0
for i in string:
    counter+=1
counter

4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [9]:
string = "Messi"

if len(string) <2:
    print(" ")
else:
    print(string[0:2]+string[-2]+string[-1])

Mesi

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [10]:
string = "working"

if len(string)>=3:
    if string[-3:] == "ing":
        string =string.replace("ing","ly")
    else:
        string+="ing"
string

'workly'

In [11]:
string.replace("ing","ly")

'workly'

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [12]:
list = ["Mina" , "Messi" , "Ronaldinho"]
longest_word=""
length=0
for i in list:
    if len(i) >length:
        length = len(i)
        longest_word=i
print(longest_word,length)

Ronaldinho 10

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [13]:
string ="Mina"
tmp = string[0]
string = string.replace(string[0] , string[-1])
string = string[:-1]+tmp
string

'ainM'

In [1]:
string ="Mina"
list_ =list(string)
list_[0],list_[-1]=list_[-1],list_[0]
string ="".join(list_)
string

'ainM'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [2]:
string = "Ronaldinho"
string[0::2]

'Rnlih'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [3]:
string = "amr and ahmed are frindes but amr is the tallest"
list = string.split(" ")
set = set(list)
dict ={}
counter =0
for i in set:
    for j in list:
        if j == i:
            counter +=1
    dict[i] = counter
    counter =0
print(dict)

{'ahmed': 1, 'the': 1, 'but': 1, 'amr': 2, 'are': 1, 'and': 1, 'is': 1, 'frindes': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [4]:
string = "Mina"
print("UPPER = " , string.upper())
print("LOWER = " , string.lower())

UPPER =  MINA
LOWER =  mina

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [5]:
string = "Mina"
new_string = ""
if len(string) % 4 ==0 :
    for i in range(1,len(string)+1):
        new_string +=string[-i]
new_string

'aniM'

**10- Write a Python program to remove a newline in Python

In [6]:
string= "MinaEmil\n"
string=string.strip()
string

'MinaEmil'

**11-Write a Python program to check whether a string starts with specified characters

In [7]:
string = "Mina"
character = "M"
string[0] == character

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [8]:
string = "Mina\nEmil\nFakhry"
string =string.replace("\n","\n$")
string="$"+string
print(string)

$Mina
$Emil
$Fakhry

**13-Write a Python program to print the following numbers up to 2 decimal places

In [10]:
float =0.3698
print(round(float,3))

0.37

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [9]:
float = 0.3698
if(float >0):
    print("+",round(float,3))
else:
    print("-",round(float,3))

+ 0.37

**15-Write a Python program to display a number with a comma separator

In [1]:
number =563599
list_ = list(str(number))
string = ",".join(list_)
string

'5,6,3,5,9,9'

**16-Write a Python program to reverse a string using 2 ways

In [2]:
string = "Minaa"
new_string = ""
for i in range(1,len(string)+1):
    new_string +=string[-i]
new_string

'aaniM'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [3]:
string ="Mina Emil Fakhry Gaber"
list_ = list(string)
set=set(list_)
counter =0
dict={}
for i in set:
    for j in list_:
        if j == i:
            counter+=1
    dict[i] = counter
    counter=0
dict

{'G': 1,
 'h': 1,
 'k': 1,
 'i': 2,
 'y': 1,
 'e': 1,
 'E': 1,
 'm': 1,
 'a': 3,
 'F': 1,
 'r': 2,
 'b': 1,
 'l': 1,
 'n': 1,
 'M': 1,
 ' ': 3}

**18-Write a Python program to find the first non-repeating character in a given string

In [1]:
string ="mina emil fakhry gaber"
list_ = list(string)
set=set(list_)
counter =0
dict={}
for i in set:
    for j in list_:
        if j == i:
            counter+=1
    dict[i] = counter
    counter=0
    second_list=[]
for i in dict:
    if dict[i] == 1 :
        second_list.append(i)

for i in list_:
    if i in second_list:
        first = i
        break
first

'n'

**19-Write a Python program to remove spaces from a given string

In [2]:
string = "mina emil fakhry"
string = string.replace(" ","")
string

'minaemilfakhry'

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [3]:
list_ = ["mina",2,3,4,True]
tmp = list_[0]
list_[0]=list_[-1]
list_[-1] =tmp
list_

[True, 2, 3, 4, 'mina']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [4]:
list_ =[23, 65, 19, 90]
pos1 =1 
pos2 =3

tmp = list_[pos2-1]
list_[pos2-1]=list_[pos1-1]
list_[pos1-1]=tmp
list_

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [5]:
string = "mina"
print(len(string))
counter =0 
for i in string:
    counter+=1
print(counter)

4
4

**24-write a Python code to find the Maximum number of list of numbers.

In [6]:
list_ = [1,2,5,9,7,3,11,6]
max =-1
for i in list_:
    if i>max:
        max = i
max

11

**25-write a Python code to find the Minimum number of list of numbers.

In [8]:
list_ = [1,2,5,9,7,3,11,6]
min =99999999
for i in list_:
    if i<min:
        min = i
min

1

**26-search for if an elem is existing in list

In [9]:
list_= ["mina",5,"emil",6,7]
for i in list_:
    if i == "emil":
        print(True)

True

**27- clear python list using different ways

In [10]:
list_= ["mina",5,"emil",6,7]
list_.clear()

**28-remove duplicated elements from a list

In [1]:
list_= ["mina",5,"emil",6,7,"mina",8,9,6]
set = set(list_)
list_ = list(set)
list_

[5, 6, 7, 8, 9, 'mina', 'emil']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [2]:
test_list=["Gfg",3,"is",8]
key_list=["name","id"]
output=[]
for i in range(0,len(test_list),len(key_list)):
    dict ={}
    for j in range(len(key_list)):
        dict[key_list[j]]=test_list[i+j]
    output.append(dict)
    del dict
output

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [1]:
list_ = ["mina" , "emil",5,6,9,3,4,5,"emil"]
set = set(list_)
list_ = list(set)
len(list_)

7

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [1]:
test_list=[4,6,4,3,3,4,3,4,3,8]
output =[]
set = set(test_list)
dict={}
counter =0
for i in set:
    for j in test_list:
        if i == j :
            counter+=1
    dict[i] = counter
    counter=0
for i in dict:
    if dict[i] > 3:
        output.append(i)
output

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [3]:
list_=[1,2,2,3,4,5]
output = []
for i in range(0,len(list_)-1):
    if i == 0:
        output.append(list_[i+1])
    else:
        if list_[i-1] > list_[i+1]:
            output.append(list_[i-1])
        else:
            output.append(list_[i+1])
output

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [8]:
list_ = ["1",2,3]
for i in range(0,len(list_)):
    for j in range(0,len(list_)):
        for k in range(0,len(list_)):
            print(list_[i],list_[j],list_[k])

1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [17]:
list_ = [1,2,3]
output=[]
for i in range(0,len(list_)):
    output.append([list_[i]])
    for j in range(1,len(list_)):
        if list_[i] != list_[j] and list_[j] > list_[i]:
            output.append([list_[i],list_[j]])
        for k in range(2,len(list_)):
            if list_[i] != list_[j] and list_[i]!=list_[k] and list_[j] != list_[k]:
                output.append([list_[i],list_[j],list_[k]])
output

[[1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [18]:
l1 = ["a", "b"]
l2 =[1,2]
for i in l1:
    for j in l2:
        print(i ,j)

a 1
a 2
b 1
b 2

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [8]:
list_ =[1,1,2,3,4,5,1,2,1]
i =0

while(True):
    length = len(list_)
    if list_[i]==1:
        list_.pop(i)
        i =0
    else:
        i+=1
    if i == length:
        break
list_

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [10]:
l1 =['Gfg', 'is', 'best']
l2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
for i in range(0,len(l2)):
    l2[i]=l1[l2[i]]
l2

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [14]:
l1 = [(4,5,5,4),(5,4,3)]
output=[]
k=5
n=2
for i in l1:
    for j in i:
        if j ==k:
            n-=1
        if n ==0 :
            output.append(i)
            break
    n=2
output

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [21]:
dict={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
keys = list(dict.keys())
keys.sort()
sorted={}
for i in keys:
    for j in dict:
        if j==i:
            sorted[j] = dict[j]
sorted

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [30]:
dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k=7
output={}
for i in dict:
    if  type(dict[i]) == int:
        if dict[i] >= k :
            continue
        else:
            output[i] = dict[i]
    else:
        output[i] = dict[i]
output

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [2]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
output={}
output=dic1.copy()
output.update(dic2)
output.update(dic3)
output

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [34]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
output={}
for i in dic1:
    output[i]=dic1[i]
for i in dic2:
    output[i]=dic2[i]
for i in dic3:
    output[i]=dic3[i]    
output

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**44- Write a Python script to merge two Python dictionaries

In [4]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
output ={}
output = dic1.copy()
output.update(dic2)
output

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [13]:
dict={1: 10, 2: 20, 3: 30, 4: 40}
list_ = dict.values()
list_ = list(list_)
list_.sort
print("Min ", list_[0])
print("Max ",list_[-1])

Min  10
Max  40

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [15]:
dict={'c1': 'Red', 'c2': 'Green', 'c3': None}
output={}
for i in dict:
    if dict[i] != None:
        output[i]=dict[i]
output

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [17]:
tuple = 5,9,6,2,1
print(tuple[0])

5

**48-Write a Python program to unpack a tuple into several variables

In [21]:
tuple = 5,9,6
print(tuple)
t1,t2,t3 = tuple
t1

(5, 9, 6)

5

**49-Write a Python program to add an item to a tuple

In [25]:
tuple = 5,9,6
tuple +=(9,)
print(tuple)

(5, 9, 6, 9)

**50-Write a Python program to convert a tuple to a string

In [31]:
tuple = 'M','i','n','a'
string =""
for i in tuple:
    string = string+ i
string

'Mina'

**51-Write a Python program to convert a list to a tuple

In [2]:
list_ = [1,2,3,4]
tuple = tuple(list_)
tuple

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [1]:
tuple1 = (1,2,3,4)
tuple2 = reversed(tuple1)
print(tuple(tuple2))

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [3]:
list_ = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(0,len(list_)):
    tmp = list(list_[i])
    tmp[-1] =100
    list_[i] = tuple(tmp)
list_

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [4]:
string = "python3.0"
tuple =()
for i in string:
    tuple += (i,)
tuple

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [7]:
tuple = ((1,11,8),(6,8,9),(15,9,9))
sum =0
counter =0
for i in tuple:
    for j in i:
        counter+=1
        sum +=j
avg = sum/counter
avg

8.444444444444445

**56-Write a Python program to add member(s) to a set.

In [8]:
set = {"mina","emil","fakhry"}
set.add("gaber")
set

{'emil', 'fakhry', 'gaber', 'mina'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [2]:
set = {"mina","emil","fakhry"}
set.discard("fakhry")
set

{'emil', 'mina'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [3]:
set1 = {4,2,3}
set2 = {4,5,6}
intersection = set1.intersection(set2)
print(intersection)
union = set1.union(set2)
print(union)
difference = set1.difference(set2)
print(difference)
symmetric=set1.symmetric_difference(set2)
print(symmetric)

{4}
{2, 3, 4, 5, 6}
{2, 3}
{2, 3, 5, 6}

**59-Write a Python program to find the maximum and minimum values in a set

In [5]:
set = {1,2,3,4,5}
list_ = list(set)
list_.sort()
print("Min" , list_[0])
print("Max" , list_[-1])

Min 1
Max 5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [2]:
list = [1,2,3,4,5,6]
length = len(list)
output=[]
for i in range(0,length):
    for j in range(0,length):
        if list[i] + list[j] ==9:
            output.append((list[i],list[j]))
output

[(3, 6), (4, 5), (5, 4), (6, 3)]