# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [53]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [54]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [55]:
chipo = pd.read_csv(url,sep='\t')

### Step 4. See the first 10 entries

In [56]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [57]:
# Solution 1
chipo.shape[0]

4622

In [58]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [59]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [60]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [61]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [62]:
chipo[chipo['quantity'] == chipo.quantity.max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

### Step 10. For the most-ordered item, how many items were ordered?

In [63]:
chipo.quantity.max()

15

### Step 11. What was the most ordered item in the choice_description column?

In [64]:
chipo[chipo['quantity'] == chipo.quantity.max()]['choice_description']

3598    NaN
Name: choice_description, dtype: object

### Step 12. How many items were orderd in total?

In [65]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [50]:
chipo['item_price'] = chipo['item_price'].astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 13.a. Check the item price type

In [66]:
type(chipo['item_price'][0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [71]:
chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x.replace('$','')))

#### Step 13.c. Check the item price type

In [74]:
type(chipo['item_price'][0])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [76]:
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [97]:
total_order_count = chipo.groupby('order_id').count()
total_order_count

          quantity  item_name  choice_description  item_price
order_id
1                4          4                   2           4
2                1          1                   1           1
3                2          2                   1           2
4                2          2                   2           2
5                2          2                   1           2
...            ...        ...                 ...         ...
1830             2          2                   2           2
1831             3          3                   1           3
1832             2          2                   1           2
1833             2          2                   2           2
1834             3          3                   3           3

[1834 rows x 4 columns]

### Step 16. What is the average revenue amount per order?

In [105]:
# Solution 1
total_order_sum = chipo.groupby('order_id')['item_price'].sum()

total_order_sum.mean()

18.811428571428568

In [107]:
# Solution 2
chipo.groupby('order_id')['item_price'].sum().mean()

18.811428571428568

### Step 17. How many different items are sold?

In [110]:
len(chipo.groupby('item_name'))

50

In [112]:
chipo['item_name'].nunique()

50