# import

In [2]:
import pandas as pd

# define dataframe

In [11]:
data = {'Column 1': [3, 1, 2], 'Column 2': [6, 4, 5]}
index = ['C', 'A', 'B']
df = pd.DataFrame(data, index=index)
df

   Column 1  Column 2
C         3         6
A         1         4
B         2         5

# sort by index

In [9]:
df_sorted_by_index = df.sort_index()
df_sorted_by_index

   Column 1  Column 2
A         1         4
B         2         5
C         3         6

# sort by column

In [13]:
df_sorted_by_column = df.sort_values(by='Column 1')
df_sorted_by_column

   Column 1  Column 2
A         1         4
B         2         5
C         3         6