# import

In [5]:
import pandas as pd

# read csv and excel

In [6]:
df1 = pd.read_csv('C:\\Users\\Mina\Desktop\\Tasks\\Instant-AI-Tasks\Tasks\\Task 16\\Save last 3 rows for 2 columns\\new_last_3rows_2column.csv')
df2 = pd.read_excel('C:\\Users\\Mina\\Desktop\\Tasks\\Instant-AI-Tasks\\Tasks\\Task 16\\weather.xlsx')

# concatination

In [7]:
df3 = pd.concat([df2,df1],ignore_index=True)
df3

       city  temprature  event  humidity
0     cairo        30.0  sunny         8
1      alex        25.0   rain         5
2     luxor        35.0  sunny        10
3  hurghada        29.0  sunny         4
4       NaN         NaN   rain         5
5       NaN         NaN  sunny        10
6       NaN         NaN  sunny         4

# write excel

In [8]:
df3.to_csv('concat.csv',index=False)