# import

In [46]:
import pandas as pd
import numpy as np
from scipy import stats

# read data

In [47]:
df = pd.read_excel('C:\\Users\\Mina\\Desktop\\Tasks\\Instant-AI-Tasks\\Tasks\\Task 16\\weather.xlsx')
df

       city  temprature  event  humidity
0     cairo          30  sunny         8
1      alex          25   rain         5
2     luxor          35  sunny        10
3  hurghada          29  sunny         4

# add outlier

In [48]:
outlier = {'city': 'outlier_city', 'temprature': 100, 'event': 'thunderstorm', 'humidity': 100}
df.loc[len(df.index)] = outlier
df

           city  temprature         event  humidity
0         cairo          30         sunny         8
1          alex          25          rain         5
2         luxor          35         sunny        10
3      hurghada          29         sunny         4
4  outlier_city         100  thunderstorm       100

# calculate z score for numeric data

In [49]:
z_scores = np.abs(stats.zscore(df[['temprature', 'humidity']]))
z_scores

   temprature  humidity
0    0.487977  0.465727
1    0.664780  0.546025
2    0.311174  0.412195
3    0.523338  0.572791
4    1.987268  1.996738

# detect outliers

In [50]:
outliers = (z_scores > 1).any(axis=1)
outliers

0    False
1    False
2    False
3    False
4     True
dtype: bool

# remove outliers

In [51]:
df_clean = df[~outliers]
df_clean

       city  temprature  event  humidity
0     cairo          30  sunny         8
1      alex          25   rain         5
2     luxor          35  sunny        10
3  hurghada          29  sunny         4

# write cleaned data

In [52]:
df_clean.to_csv('removed_outliers.csv', index=False)