# import

In [1]:
import pandas as pd

# read excel

In [2]:
df = pd.read_excel('C:\\Users\\Mina\\Desktop\\Tasks\\Instant-AI-Tasks\\Tasks\\Task 16\\weather.xlsx')
df

       city  temprature  event  humidity
0     cairo          30  sunny         8
1      alex          25   rain         5
2     luxor          35  sunny        10
3  hurghada          29  sunny         4

# extract last 3 rows for 2 columns

In [3]:
newdf = df[-3:][["event","humidity"]]
newdf

   event  humidity
1   rain         5
2  sunny        10
3  sunny         4

# write csv

In [4]:
newdf.to_csv('new_last_3rows_2column.csv',index=False)